/**Global**/
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #4d4d4d, #ffffff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark{
  padding:15px;
  background: #333333;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

ul{
  margin:0;
  padding:0;
}

/**Landing page, index**/
.b1{
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(./php/uploads/JEEP.jpg) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
}
.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.content h1{
  font-family: 'Century Gothic',sans-serif;
  color: #f4f4f4;
  font-size: 500%;
  text-shadow: 0 0 300px #000;
}
.content .btn{
  border-radius: 9px;
  color: #f4f4f4;
  text-decoration: none;
  font-family: 'Century Gothic',sans-serif;
  border: 3px solid;
  padding: 7px 13px;
  font-weight: bold;
}
.content .btn:hover{
  color: #2196f3;
}

/* Header **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

header nav {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%,
    #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding:0px;
}

header h1{
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  padding: 0px;
}

header nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  padding: 0px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

/**showcase**/
#showcase{
  min-height:400px;
  object-fit: contain;
  text-align:center;
  color:#ffffff;
}

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 82vh;
}

.wrap {
  position: relative;
}

.slide1 {
  background: url(./php/uploads/GTO.jpg) no-repeat 50% 50%;
  background-size: auto 80%;
}
.slide2 {
  background: url(./php/uploads/JEEP.jpg) no-repeat 50% 50%;
  background-size: auto 80%;
}
.slide3 {
  background: url(./php/uploads/BomberV2.jpg) no-repeat 50% 50%;
  background-size: auto 80%;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #ffffff ;
  left: 0;
  margin-left: 0px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent #ffffff;
  right: 0;
  margin-right: 30px;
}

/**Service**/
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

/**Footer**/
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  font-size: 16px;
  background-color:#999999;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/** Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/**Instafeed**/
.instaimg{
  overflow: hidden;
  height: 255px;
  margin-bottom: 15px;
}

.instaimg img:hover{
  opacity: 0.8;
  -moz-opacity:0.8;
  -webkit-opacity:0.8;
}
